# dependencies
node_modules/

# build outputs
.next/
out/
dist/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# testing
coverage/
.nyc_output/

# vercel / monorepo
.vercel/
.turbo/

*.shgs
*.ktl